.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover{
	text-decoration: none;
	cursor: pointer; 
	cursor: hand;
}

ul.nav a:hover {
	background-color: #00203B; !important; 
}


body {	
	font-family: "Poiret One", sans-serif;
	font-size: 2.5vw;
	text-align: center;
	overflow-x: hidden;
}
.container-fluid { 
  padding: 0px;
  width: 100vw;
}
.navbar-nav > li > a, .navbar-brand {
    
    justify-content: space-around;
    line-height: 2vh;
}
.navbar-collapse.in {
overflow: hidden;
}
.navbar {
	background-color: #875301;
	border-bottom: 0px;
	font-size: 2.2rem;
	text-align: center;
	color: #ffffff;
	height: 4vh;

}
.nav-edit {
  display: inline-block;
  float: none;
  vertical-align: top;
  color: white;

}
.nav.navbar-nav.nav-edit {
	height: 2vh;
}
.nav.navbar-nav.nav-edit a { /* Specific to overwrite Bootstrap */
    color: #ffffff;
}
.nav.navbar-nav.nav-edit a:hover { 
    color: #089DE3;
}
.navbar .navbar-collapse {
  text-align: center;
}

.logo {
	margin: 0px 0px 0px 0px;
	width: 5vw;

}
.header-pic{
	margin: 0px 0px 0px 0px;	
	width: 100%; max-width: 20vw;
}

.modal-body {
	text-align: center;
}

.jumbotron {

	min-height: 10vh; 
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
	-webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;
	-webkit-box-pack : center;
	-moz-box-pack : center;
	-ms-flex-pack : center;
	-webkit-justify-content : center;
	justify-content : center;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
}
.jumbo-content-top{
	background-color: #00203B;
	color: #C6D5CD;
	margin: 4vh 0% 0% 0%;
	height: 100vh;
	font-size: 3.0rem;
}
.jumbo-content{
	background-color: #014A87;
	color: #C6D5CD;
	height: 95vh;
	font-size: 3.0rem;
}
.jumbo-content2{
	background-color: #80B5E2;
	color: #3B2400;
	height:75vh;
}
.logo-container{
	height: 22vh;
	background-color: #875301;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.jumbo-footer{
	background-color: #3B2400;
	color: #80B5E2;
	text-align: center;
	font-size: 12.0rem;
}
.modal {
	font-size: 4.0rem;
}

/* Hover Bounce Effect */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}



/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}